<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue JS App</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="vue-app">
    <h1>{{ greet('Afternoon') }}</h1>
    <a v-bind:href="website">HERE</a>
    <p v-html="websiteTag"></p>
    <!-- can also use just column ':' instead of 'v-bind:' -->
    <p>Name: {{ name }}</p>
    <p>{{ job }}</p>


    <h2>Events - Tutorial 5</h2>
    <!-- event modifyer 'once' will only let the event fire one time -->
    <button v-on:click.once="add(1)">Add a Year</button>
    <button v-on:click="subtract(1)">Subtract a Year</button>
    <button @dblclick="add(10)">Add 10 Years</button>
    <button @dblclick="subtract(10)">Subtract 10 Years</button>
    <p>My age is {{ age }}</p>

    <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
    <!-- event modifyer stops the default behaviour of the link tag -->
    <a v-on:click.prevent="click"href="http://www.annaionova.com">Anna's Website</a>


    <h2>Keyboard Events - Tutorial 7</h2>
    <label>Name:</label>
    <!-- event modifyer only logs the input after enter & alt keys have been hit -->
    <input type="text" v-on:keyup.alt.enter="logName" />
    <label>Age:</label>
    <input type="text" v-on:keyup.enter="logAge" />


    <h2>Two way data binding - Tutorial 8</h2>
    <label>Name:</label>
    <!-- with the help of 'v-model' we bind data both ways to input & vueJS -->
    <input type="text" v-model="nameDataBinding" />
    <span>{{ nameDataBinding }}</span>
    <label>Age:</label>
    <input type="text" v-model="ageDataBinding" />
    <span>{{ ageDataBinding }}</span>


    <!-- methods vs. computed properties -->
    <h2>Computed Properties - Tutorial 9</h2>
    <button v-on:click="a++">Add to A</button>
    <button v-on:click="b++">Add to B</button>
    <p>A - {{ a }}</p>
    <p>B - {{ b }}</p>
    <p>Age + A = {{ addToA }}</p>
    <p>Age + B = {{ addToB }}</p>


    <h2>Dynamic CSS - Tutorial 10</h2>
    <h3>Example 1</h3>
    <div v-on:click="available = !available" v-bind:class="{available: available}">
      <span>Ryu</span>
    </div>
    <h3>Example 2</h3>
    <button v-on:click="nearby=!nearby">Toggle nearby</button>
    <button v-on:click="available=!available">Toggle available</button>
      <span>Bonjour</span>
    <!-- </div> -->
    
    
    <h2>Conditionals - Tutorial 11</h2>
    <button v-on:click="error = !error">Toggle Error</button>
    <button v-on:click="success = !success">Toggle Success</button>
    <p v-if="error">There has been an error</p>
    <p v-else-if="success">Success!!</p>
    <!-- <p v-show="error">There has been an error</p>
    <p v-show="success">Success!!</p> -->

    <!-- <span>{{ ageDataBinding }}</span> -->

    <h2>Looping with v-for - Tutorial 12</h2>
    <ul>
      <li v-for="(char, index) in loopingChars">{{ index }} . {{ char }}</li>
    </ul>

    <ul>
      <li v-for="(ninja, index) in loopingNinjas">{{ index }} . {{ ninja.name }} - {{ ninja.age }}</li>
    </ul>

    <!-- template helps eliminate unwanted elements on page -->
    <template v-for="(ninja, index) in loopingNinjas">
      <h3>{{ index }} . {{ ninja.name }}</h3>
      <p>{{ ninja.age }}</p>
    </template>
    <template v-for="ninja in loopingNinjas">
      <div v-for="(val,key) in ninja">
        <p>{{ key }} - {{ val }}</p>
      </div>
    </template>

 
    

  </div>

  <script src="app.js"></script>
</body>
</html>